<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="sanpham">

        <div class="container">
            <div class="row" style="margin-top: 15%;">
                <div class="col-sm-8">
                    <h1 class="text-white">My Cart </h1>

                    <div ng-repeat="c in cart track by $index" class="row mt-2"
                        style="background-color: #202020; border-radius: 5px;">
                        <div class="col-sm-4 mt-4 mb-4">

                            <div>
                                <img src="{{c.intro}}" alt="" width="100%">
                            </div>

                        </div>
                        <div class="col-sm-8">
                            <span class="badge badge-secondary" style="font-size: 20;">Base Games</span>
                            <h3 class="text-white mb-2 mt-2">{{c.name}}</h3>
                            <h6 class="text-white mb-2">Price: ₫{{c.Price | currency:"":0}} <br> <span
                                    ng-click="subClick($index)"><i class="fa-solid fa-minus text-danger"></i></span>
                                {{c.quantity}} <span ng-click="addClick($index)"><i
                                        class="fa-solid fa-plus text-success"></i></span></h6>
                            <button ng-click="delProduct($index)" type="button" class="btn btn-danger"
                                style="width: 50%;">Remove</button>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3 class="text-white mt-5">Games Pay</h3>
                    <p class="text-white" ng-repeat="c in cart track by $index">{{c.name}} (X{{c.quantity}}): <a
                            class="text-white float-right">₫{{c.Price*c.quantity | currency:"":0}}</a></p>
                    <hr style="background-color: #ccc;">
                    <h5 class="text-white">Total amount: <a class="text-white float-right">₫{{sumMoney |
                            currency:"":0}}</a></h5>
                    <button type="button" class="btn btn-primary mt-3" style="width: 100%;" data-toggle="modal" data-target="#exampleModal">Pay</button>
                    <!-- Button trigger modal -->                  

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" style="background-color: #202020;">
                                
                                <div class="modal-body">
                                    <h2 class="text-center mt-5" style="color: #f5f5f5;"><img src="img/buy.png" alt=""></h2>
                                    <h2 class="text-center mt-3" style="color: #f5f5f5;">THANK YOU FOR</h2>
                                    <h2 class="text-center mb-5" style="color: #f5f5f5;">BUYING</h2>
                                </div>                              
                            </div>
                        </div>
                    </div>
                    <a href="#!timkiem">
                        <button type="button" class="btn btn-secondary mt-2" style="width: 100%;">
                        Buy more
                    </button></a>
                    
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

            </div>

        </div>








        <footer style="background-color: #202020;">

            <div class="footer"
                style=" border-bottom: 2px solid #cccccc; margin-left: 2%; margin-right: 2%; margin-top: 5%; padding: 3%;">

                <div class="d-flex justify-content-between" style="margin-top: 3%;">
                    <div class="p-2">
                        <a href=""><i class="fa-brands fa-facebook"
                                style="font-size:30px; color: #cccccc; width: 30px;"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"
                                style="font-size:30px; color: #cccccc; width: 30px;"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"
                                style="font-size:30px; color: #cccccc; width: 30px;"></i></a>
                    </div>
                    <div class="p-2">
                        <a href=""> <i class="gg-chevron-up-r"></i></a>
                    </div>
                </div>
                <p class="text-muted">Resources</p>
                <p class="text-white">Support-A-Creator &emsp; &emsp; &emsp;&ensp;Fan Art Policy &emsp; Online Services
                </p>
                <p class="text-white">Distribute on Epic Games &emsp; UX Research &emsp; &ensp;Community Rules</p>
                <p class="text-white">Careers &emsp; &emsp; &emsp;&emsp; &emsp;&emsp;&emsp; &emsp;Store EULA &emsp;
                    &ensp; &ensp;Epic Newsroom</p>
                <p class="text-white">Company</p>
                <p></p>
                <p class="text-muted">Made By Epic Games</p>
                <p class="text-white">Battle Breakers &emsp; &emsp; &emsp;&ensp;Robo Recall</p>
                <p class="text-white">Fortnite &emsp; &emsp; &emsp;&emsp;&emsp;&emsp;&ensp;Shadow Complex</p>
                <p class="text-white">Infinity Blade &emsp; &emsp; &emsp;&ensp;&ensp;Unreal Tournament</p>


            </div>
            <div class="footer" style="margin-left: 2%; margin-right: 2%; margin-top: 2%;">
                <p class="text-muted" style="font-size: small;">© 2023, Epic Games, Inc. All rights reserved. Epic, Epic
                    Games, the Epic Games logo, Fortnite, the Fortnite logo, Unreal, Unreal Engine,<br>
                    the Unreal Engine logo, Unreal Tournament, and the Unreal Tournament logo are trademarks or
                    registered trademarks of<br>
                    Epic Games, Inc. in the United States of America and elsewhere. Other brands or product<br>
                    names are the trademarks of their respective owners. Non-US transactions through Epic Games
                    International, S.à r.l.</p>


                <div class="d-flex justify-content-between">
                    <div class="p-2">
                        <p class="text-muted" style="font-size:small;">Terms of Service&emsp; Privacy Policy&emsp; Store
                            Refund Policy</p>
                    </div>
                    <div class="p-2">
                        <iconify-icon icon="simple-icons:epicgames" style="color: #ccc;" width="30"></iconify-icon>
                        <iconify-icon icon="mdi:unreal" style="color: #ccc;" width="30" height="30"></iconify-icon>
                    </div>
                </div>


            </div>

    </div>

    </footer>
    </div>
</body>

</html>