#search{
    background-color: #202020; 
    border-radius: 15px;
    border:  #202020;     
    color: aliceblue;
    
}

.menu{
    z-index: 1;
    position:fixed;
    width: 100%;
   
}

#menuSearch:scope{
   background-color: antiquewhite;
   
}

#drop-item{
    background-color: #2a2a2a;
    
}

#drop-item>a{
    background-color: #2a2a2a;
    color:#c7c4c7;   
}

#drop-item>a:hover{
    background-color: #2a2a2a;
    color:white;   
}

#download{
    background-color: #0078f2;
    color: #c7c4c7;
    
}
#download:hover{
    background-color: #007dfc;
    color: white;
    
}

#sign{
    font-size: 16px;
}
.sanpham{
    background-color: #121212;
    width: 100%;
    /* height: auto; */
    position: absolute;
}

#intro{
    position: relative;
    background-color:#121212;
    width: 1150px;
    height: 477px;
    margin-top: 12%;
    /* margin-left: 10%; */
   
}

#intro-left{
    position: relative;
    background-color:#121212;
    width: 850px;
    height: 477px;
    margin-top: 12%;
 
   
}

.rintro{   
    height: 105px;
    width: 200px;
    
}

.rintro :hover{ 
    border: 2px solid #4b4b4b;
    border-radius: 5px;
}

.nohover :hover{    
    border: none;
   
}


#imgrintro{
    margin-top: 17px;
    border: none;
}

#tieuderintro{
    border: none;
}

.list-Store{
    position: relative; 
    margin-top: 5%;  
}
.tieuderintro{
    margin-top: 10%;
    color: white;
}

.btct{
    font-size: 18px; 
    border-radius: 50%; 
    background-color: #202020; 
    color:aliceblue; 
    border: #121212;
    
}

/* card */
.card{
    background-color: #121212;
}

.card-font{
    color: white;
}

.sale{
    background-color: #0078f2;
    font-family: cursive;
    border-radius: 5px;
    font-size: 10px;
    
}



.ndtext{
    margin-top: 4%; margin-left: 9%; font-size: larger;
}
.abc:hover{
    background-color: #4b4b4b;
   
}

.card-free{   
    width: 95%;
    margin-left: 3%;
}

.hovernew :hover{
    border: 2px solid #4b4b4b;
    border-radius: 5px;
}

.nohover{
    border: none;
}
.nohover :hover{    
    border: none;
   
}

.gg-chevron-up-r {
    
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 45px;
    height: 45px;
    border: 2px solid #cccccc;
    border-radius: 4px
   }
   
   .gg-chevron-up-r::after {
    
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 2px solid  #cccccc;
    border-right: 2px solid  #cccccc;
    transform: rotate(-45deg);
    left: 13px;
    bottom: 10px
   } 

body img{
    border-radius: 5px;
}

.image {
    opacity: 1;
    display: block;
    /* width: 100%; */
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
    
  .card:hover .image {
    opacity: 0.3;
  }
  
  .card:hover .middle {
    opacity: 1;
  }
  body {
        font-family: Arial;
        margin: 0;
    }

    * {
        box-sizing: border-box;
    }

    img {
        vertical-align: middle;
    }

    /* Position the image container (needed to position the left and right arrows) */
    .container {
        position: relative;
    }

    /* Hide the images by default */
    .mySlides {       
        display: none;
    }

    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
        cursor: pointer;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        
        right: 15px;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* Container for image text */
    .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Six columns side by side */
    .column {
        float: left;
        width: 16.66%;
    }

    /* Add a transparency effect for thumnbail images */
    .demo {
        opacity: 0.6;
    }

    .active,
    .demo:hover {
        opacity: 1;
    }

